{% extends 'home/base.html' %}
{% load static %}

{% block title %} Common Diseases{% endblock title %}

{% block style %}
<style>

.section4 img{
    
  width: 90%;
  height: 80%;

}

.section4 h4{
  color: black;

}
.section4 h5{
font-weight: 700;
}

.section4 p{
font-size: 1rem;    
}
/*scroll btn*/

.body_landing #myBtn {
display: none; /* Hidden by default */
position: fixed; /* Fixed/sticky position */
bottom: 20px; /* Place the button at the bottom of the page */
right: 30px; /* Place the button 30px from the right */
z-index: 99; /* Remove borders */
outline: none; /* Remove outline */
font-weight: bolder;
font-size: 25px; 
color: rgb(0, 0, 0); /* Text color */
cursor: pointer; /* Add a mouse pointer on hover */
border: 1px solid black;
border-radius: 30px; /* Rounded corners */
height: 50px;
width: 50px;
padding: 0px;
background-color: var(--green);
}

.body_landing #myBtn:hover {
background-color: #555; /* Add a dark-grey background on hover */
}

@media (min-width: 320px) and (max-width: 422px) {

.section4 h5{

font-size: 20px;
}
.section4 h4{

font-size: 20px;
}

.section4 p{
font-size: 0.8rem;
}

}
@media (min-width: 750px) and (max-width: 950px) {

.section4 h5{

font-size: 24px;
}
.section4 h4{

font-size: 26px;
}
}
.section4 p{
font-size: 0.8rem;
}


</style>

{% endblock style %}

{% block body %}


<div class="container mt-5 section4">
    <h4>Some common dermatological manifestations :</h4><br>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/nevus.JPG" %} "  alt="company logo"/>
        </div>
        <div class="col-md-8 col-sm-12">
          <h5>Nevus :</h5>
          <p>
            A nevus, commonly referred to as a mole, is a benign pigmented
            skin lesion. It is typically composed of melanocytes, the
            cells responsible for skin pigmentation. Moles can vary in
            size, color, and shape and are usually harmless. However, it's
            important to monitor any changes in moles, such as growth,
            irregular borders, or color variations, as these could be
            signs of melanoma, a potentially serious skin cancer.
          </p>
  
        </div>
      </div><br>
  
  
      <div class="row">
        
        <div class="col-md-8 col-sm-12">
          <h5>Dermatofibroma :</h5>
          <p>
            Dermatofibroma is a benign skin growth that typically appears
            as a firm, raised nodule. It often has a brownish color and
            may be mistaken for a mole. Dermatofibromas are usually
            harmless but can sometimes cause itching or tenderness. They
            do not require treatment unless they become symptomatic or
            cosmetically bothersome.
          </p>
  
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/dermatofibroma.JPG" %} " alt="company logo" />
        </div>
      </div><br>
  
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/ak.JPG" %} " alt="company logo" />
        </div>
        <div class="col-md-8 col-sm-12">
          <h5>Actinic keratosis :</h5>
          <p>
           Actinic keratosis, also known as solar keratosis, is a
            precancerous skin condition caused by prolonged sun exposure.
            It manifests as dry, scaly patches or rough, crusty areas on
            the skin's surface. While AK itself is not cancerous, it has
            the potential to develop into squamous cell carcinoma if left
            untreated. Dermatologists often recommend the removal of
            actinic keratoses to reduce this risk.
          </p>
  
        </div>
      </div><br>
  
  
      <div class="row">
        
        <div class="col-md-8 col-sm-12">
          <h5>Pigmented benign keratosis :</h5>
          <p>
            Pigmented benign keratosis is a non-cancerous skin condition
            characterized by brown to black, flat or slightly raised
            lesions on the skin. These lesions may resemble melanoma or
            other skin cancers due to their pigmentation. It is essential
            to differentiate them from malignant lesions through clinical
            evaluation and sometimes biopsy to ensure accurate diagnosis
            and appropriate management.
          </p>
  
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/pbk.JPG" %} " alt="company logo" />
        </div>
      </div><br>
  
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/scc.JPG" %} " alt="company logo" />
        </div>
        <div class="col-md-8 col-sm-12">
          <h5>Squamous cell carcinoma :</h5>
          <p>
            A nevus, commonly referred to as a mole, is a benign pigmented
            skin lesion. It is typically composed of melanocytes, the
            cells responsible for skin pigmentation. Moles can vary in
            size, color, and shape and are usually harmless. However, it's
            important to monitor any changes in moles, such as growth,
            irregular borders, or color variations, as these could be
            signs of melanoma, a potentially serious skin cancer.
          </p>
  
        </div>
      </div><br>
  
  
      <div class="row">
        
        <div class="col-md-8 col-sm-12">
          <h5>Basal cell carcinoma :</h5>
          <p>
            Basal cell carcinoma is the most common form of skin cancer.
            It typically appears as a painless, slow-growing, raised bump
            or sore on the skin. BCC originates in the basal cells of the
            skin's outermost layer. Although it rarely spreads to other
            parts of the body, it can be locally destructive if left
            untreated. Early diagnosis and prompt treatment are essential
            to prevent extensive damage.
          </p>
  
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/bcc.JPG" %} " alt="company logo" />
        </div>
      </div><br>
  
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/melanoma.JPG" %} " alt="company logo" />
        </div>
        <div class="col-md-8 col-sm-12">
          <h5>Melanoma :</h5>
          <p>
             Melanoma is the most dangerous form of skin cancer and arises
            from melanocytes, the pigment-producing cells. It often
            presents as an irregularly shaped, multicolored lesion with
            asymmetrical borders. Early detection is crucial, as melanoma
            can rapidly spread to other parts of the body, leading to
            life-threatening consequences. Regular skin checks, protection
            from UV radiation, and prompt medical attention for suspicious
            moles are key in preventing melanoma or catching it at an
            early, treatable stage.
          </p>
  
        </div>
      </div><br>
  
  
      <div class="row">
        
        <div class="col-md-8 col-sm-12">
          <h5>Vascular lesions :</h5>
          <p>
            Vascular lesions encompass a range of skin conditions related
            to blood vessels. They can include birthmarks, port-wine
            stains, hemangiomas, and telangiectasias (spider veins). While
            most vascular lesions are benign and harmless, some may
            require medical intervention or cosmetic treatments, depending
            on their type and location.
          </p>
  
        </div>
        <div class="col-md-4 col-sm-12">
          <img src="{% static "home/image/vl.JPG" %} " alt="company logo" />
        </div>
      </div><br>
  
  
  </div>
      <!--scroll btn-->
      <button onclick="topFunction()" id="myBtn" title="Go to Top">^</button>
      <script>// When the user scrolls down 20px from the top of the document, show the button
          let mybutton = document.getElementById("myBtn");
          window.onscroll = function() {scrollFunction()};
          function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              mybutton.style.display = "block";
            } else {
              mybutton.style.display = "none";
            }
          }
          
          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
          }
          </script>
{% endblock body %}
