{% extends 'home/base.html' %}
{% load static %}

{% block title %} HOME{% endblock title %}

{% block style %}
<style>
    :root{
  --green: #c9efb7;
  --blue:#31b085;
    }
  
  .section1 p{
    width: 57%; font-size: 1.06rem;
  }
  .section2 p{
    color: black;
  }
  .section2 h5{
    margin-left: 20px;
    font-weight: 700;
  }
  .section2 .card:hover{
    box-shadow: 2px 3px rgb(148, 139, 139);

  }

  .section3 p{
      font-family:Arial, Helvetica, sans-serif;
      font-weight: 100px;
    
  }

  .section3 a{
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 12px;
    text-align: center;
  
}
.section3 a:hover{
    background-color: grey ;
  
}

  .section4 img{
    
      width: 90%;
      height: 80%;
    
  }

  .section4 h4{
      color: black;
    
  }
  .section4 h5{
    font-weight: 700;
  }
  
  .section4 p{
    font-size: 1rem;    
  }



/* Button used to open the chat form - fixed at the bottom of the page */

.open-button {
  background-color: var(--blue);
  padding: 7px 0px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 24px;
  width: 7%;
  position: fixed; 
  z-index: 8;
  outline: none; 
  font-size: 18px; 
  color: rgb(0, 0, 0); 
  cursor: pointer;
  border: 1px solid black;
  border-radius: 30px; 
}
.open-button:hover {
background-color: #555;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #f1f1f1;
  z-index: 9;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: var(--blue);
  color: white;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 422px) {
  .section2 p,b{
    font-size: 0.8rem;
  }
  .section4 h5{

    font-size: 20px;
  }
  .section4 h4{

    font-size: 20px;
}
  .section2 h5{
    margin-left: 5px;
    font-size: 20px;
  }
  .section3 a{
    padding: 6px 8px;
  }
  .section3 p,b{
    font-size: 0.7rem;
  }
  .section1 h3{
    font-size: 23px;
  }
  .section1 p{
    width: 95%;
    font-size: 0.8rem;
  }


.section4 p{
    font-size: 0.8rem;
  }

}
@media (min-width: 750px) and (max-width: 950px) {
  .section2 p,b{
    font-size: 0.8rem;
  }
  .section4 h5{

    font-size: 24px;
  }
  .section4 h4{

    font-size: 26px;
}
  .section2 h5{
    margin-left: 7px;
    font-size: 25px;
  }
  .section3 a{
    padding: 8px 10px;
  }
  .section3 p,b{
    font-size: 0.7rem;
  }
  .section1 h3{
    font-size: 30px;
  }
  .section1 p{
    width: 85%;
    font-size: 0.8rem;
  }


.section4 p{
    font-size: 0.8rem;
  }

  .section2 .card{
    height: 400px;

  }

}
@media (min-width: 951px) and (max-width: 1030px) {
    .section2 .card{
    height: 500px;

  }
}

</style>
{% endblock style %}

{% block body %}


<div class="container section1">
  <img class="img-fluid" src="{% static "home/image/banner.jpg" %}" alt="hero image"><br>

  <div class="row" style="padding-left: 5%;">
    <h3>Welcome!</h3>
    <p >
        MedX is your one-stop destination for all your skin concerns. Our
        cutting-edge platform harnesses the power of advanced technology
        to provide you a seamless and holistic approach to
        dermatological care.
      </p>
  </div>
</div>
<br>

<div class="container mt-5  section2">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <h5>Preliminary Diagnosis</h5>
  
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="{% static "home/image/pd.png" %}" alt="Card image" style="width:100%;opacity: 60%;">
        <div class="card-img-overlay">
          <p class="card-text">We employ state of the art Convolutional Neural Network
                (CNN) models to analyze your skin condition, offering you a
                predicted diagnosis right at your fingertips.<br><br> <b>Worried about
                the accuracy?</b><br> Don't be!<br> Our AI-driven system is continuously
                trained with the latest medical data to ensure
                precise results.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <h5>Booking Appointments</h5>
  
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="{% static "home/image/dr.png" %}" alt="Card image" style="width:100%;opacity: 48%;">
        <div class="card-img-overlay">
          <p class="card-text">We understand that your health journey extends beyond just
            diagnosis.<br><br> That's why MedX allows you to effortlessly <b>book
            appointments</b> with skilled dermatologists <b>directly</b> through
            our platform.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <h5>Our Medicine Store</h5>
  
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="{% static "home/image/cart.png" %}" alt="Card image" style="width:100%;opacity: 54%;">
        <div class="card-img-overlay">
          <p class="card-text"><!-- <h1>Med Store</h1> -->
            For those looking to <b>protect and pamper</b> their skin, our
            platform offers a <b>curated selection</b> of
            dermatologist-approved sunscreen creams and skincare
            products.<br><br> Shop with confidence, knowing you're <b>investing</b> in
            products that promote skin health and well-being</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>



<div class="container mt-5  section3">
 
  <div class="row mt-5">
    <div class="col-12">
      <p style="text-align: center;">Join us on a journey towards healthier and happier skin.<br> MedX is here
      to empower you with convenience and expert care.<br> Your
      skin deserves the best.<br> <b>We're here to deliver it!</b></p>
    </div>
   

      <div class="row justify-content-center mt-5">
        <div class="col-auto">
          <a href="signup" class="btn btn-outline-secondary ">Get Started</a>
        </div>
        <div class="col-auto">
          <a href="common_diseases" class="btn btn-outline-secondary ">Some Diseases</a>
        </div>
      </div>
  </div>
</div>
<br>
<br>
<button class="open-button" onclick="openForm()">Chat</button>

{% comment %} <div class="chat-popup" id="myForm">
  <form action="/action_page.php" class="form-container">

    <label for="msg"><b>Message</b></label>
    <textarea placeholder="Type message.." name="msg" required></textarea>

    <button type="submit" class="btn">Send</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
  </form>
</div> {% endcomment %}

<script>
function openForm() {
  document.getElementById("myForm").style.display = "block";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}
</script>




<!-- Container end -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>





{% endblock body %}