{% extends 'dasboard/base.html' %}



{% block style %}

<style>
    .card .box {
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 12px;
    margin-top: 20px;
    width: 100%;
    padding: 15px 20px;
    background-color:#258464  ;
    transition: var(--tran-05); 
    margin-bottom: 10px;
}



.card .box .choose {
    background-color: white;
    border-radius: 6px;
    font-weight: 700;
    color: black;
    width: 140px;
    padding: 12px 24px;
    box-shadow: 0 0 2px black;
    transition: 0.2s ease-out;
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.card .box .choose:hover {
    background-color: black;
    color: white;
}

body.dark.card.box {
    color: black;
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.card .box .text {
    /* white-space: nowrap; */
    font-size: 18px;
    font-weight: 500;
    /* color: var(--text-color); */
    width: 90%;
}

.text {
    color: black;
    font-size: 0.8rem;
}

.caution-text{
    color:red;
}
.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.card_group .card{
    background-color:white;
    
}

.card_group .card h5, .card_group .card p{
    color:black;
}
</style>
{% endblock style %}


{% block body %}

<div class="container mt-3 card_group" style="width: 95%;">
    <div class="row">
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card  text-white">
                <div class="card-body">
                    <h5>Appointment</h5>
                    <p>5</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card  text-white">
                <div class="card-body">
                    <h5>Appointment History</h5>
                    <p>15</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card  text-white">
                <div class="card-body">
                    <h5>Medicine</h5>
                    <p>50</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-12 mt-3">
            <div class="card  text-white">
                <div class="card-body">
                    <h5>Report</h5>
                    <p>2</p>
                </div>
            </div>
        </div>
    </div>
</div>

    {% if request.user.user_type == "user" %}

        <div class="container mt-5" style="width: 95%;">
            <div class="row">
                <div class="card">
                    <div class="box box3">
                    <span class="text"
                        ><h1><u> INSTRUCTIONS</u></h1>
                    </span>
                    <br />
                    <span class="text">
                        1. Please click 5 pictures of your affected area for upload.
                    </span>
                    <span class="text">
                        2. The manifestation should be clearly visible at the central area
                        of the pictures.
                    </span>
                    <span class="text">
                        3. Click pictures from different angles at a well lit environment.
                    </span>
                    <span class="text">
                        4. Try to trim or shave the surrounding area if possible for clear
                        visibility.
                    </span>
                    <a href="/check_diagnosis" class=" btn choose">Diagnose</a>
                    </div>
                </div>
                <span class="caution-text">
                    <b>**Caution<b>: The diagnosis predicted may vary from the actual skin
                    condition. Please refer to verified specialists at our platform for a
                    more accurate diagnosis.
                </span>
            </div>
        </div>
    
    {% endif %}


{% endblock body %}