{% extends "dasboard/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "dasboard/user/css/check_diagnosis.css" %}">

{% endblock head %}

{% block style %}
<style>
    
.diagnosis-upload-image{
    position: relative;
    /* max-width: 900px; */
    width: 100%;
    border-radius: 6px;
    background-color: white;
    align-items: center;
}

.diagnosis-upload-image .card{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 96%;
}

.diagnosis-upload-image .input-group{
    margin: 60px 0 0 40px;
    border-radius: 90px;
    width: 86%;
}

.diagnosis-upload-image .form-control{
    margin: 0;
    padding: 10px;
    font-size: 14px;
    min-width: 0;
}

.tag_line1{
    margin: -15px 0 0 5px;
    color: red;
    font-size: 16px;
}



.diagnosis-upload-image .tag_line{
    margin-left: 44px;
    color: red;
    font-size: 14px;
}

.diagnosis-upload-image h2{
    position: relative;
    font-size: 25px;
    font-weight: bolder;
    color: #333;
    margin-bottom: 30px;
}

.diagnosis-upload-image h2::before{
    content: "";
    position: absolute;
    left: 10px;
    bottom: -5px;
    height: 3px;
    width: 15%;
    border-radius: 10px;
    background-color: #4070f4;
}

.diagnosis-upload-image form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: white;
    overflow: hidden
}

.diagnosis-upload-image form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 150px;
    width: 100%;
    margin: 30px 0 0 40%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #213e8d;
    border-radius: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.diagnosis-upload-image .nextBtn .btnText{
    font-size: 20px;
}

form button:hover{
    background-color: #265df2;
}


#display_image1{
    margin: 7px 80px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-position: cover;
    background-size: cover;
    object-fit: none;


}

#display_image2{
    margin: 7px 80px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-position: cover;
    background-size: cover;
}

#display_image3{
    margin: 7px 80px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-position: cover;
    background-size: cover;
}

#display_image4{
    margin: 7px 80px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-position: cover;
    background-size: cover;
}

#display_image5{
    margin: 7px 80px;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-position: cover;
    background-size: cover;
}


@media(max-width: 769px) {
    #display_image1{
        display: none;
    }
    #display_image2{
        display: none;
    }
    #display_image3{
        display: none;
    }
    #display_image4{
        display: none;
    }
    #display_image5{
        display: none;
    }
    .diagnosis-upload-image form{
        padding-right: 10px;
    }
    .diagnosis-upload-image .tag_line1{
        font-size: 14px;
    }

    .diagnosis-upload-image .tag_line{
        font-size: 13px;
    }
}
</style>
{% endblock style %}

{% block body %}

<div class="container mt-3 mb-4 pt-3 diagnosis-upload-image" style="width:95%">
    <div class="row">
    <h2>Upload Image For Diagnosis</h2>
    <p class="tag_line1">* Image should not be more than 250kb</p>


    <div class="card  mb-5 mx-4">
        <form action="{% url 'prediction' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">Upload Image 1</span>
                        <input type="file" class="form-control" id="image_input1"
                            accept="image/jpg, iamge/jpeg" placeholder="Username" name="diagnosis_image_1" required>
                    </div>
                    <p class="tag_line">* Image should not be more than 250kb</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="display_image1"></div>
                </div>



                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">Upload Image 2</span>
                        <input type="file" class="form-control" id="image_input2"
                            accept="image/jpg, iamge/jpeg" placeholder="Username" name="diagnosis_image_2" required>
                    </div>
                    <p class="tag_line">* Image should not be more than 250kb</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="display_image2"></div>
                </div>



                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">Upload Image 3</span>
                        <input type="file" class="form-control" id="image_input3"
                            accept="image/jpg, iamge/jpeg" placeholder="Username" name="diagnosis_image_3" required>
                    </div>
                    <p class="tag_line">* Image should not be more than 250kb</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="display_image3"></div>
                </div>



                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">Upload Image 4</span>
                        <input type="file" class="form-control" id="image_input4"
                            accept="image/jpg, iamge/jpeg" placeholder="Username" name="diagnosis_image_4" required>
                    </div>
                    <p class="tag_line">* Image should not be more than 250kb</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="display_image4"></div>
                </div>



                <div class="col-md-6 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-text">Upload Image 5</span>
                        <input type="file" class="form-control" id="image_input5"
                            accept="image/jpg, iamge/jpeg" placeholder="Username" name="diagnosis_image_5" required>
                    </div>
                    <p class="tag_line">* Image should not be more than 250kb</p>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div id="display_image5"></div>
                </div>



                <button class="mb-3"  type="submit">
                    <span class="btnText">Submit</span>
                    <!-- <i class="fa-solid fa-forward"></i> -->
                </button>
            </div>

        </form>
    </div>
</div>
</div>


<script>


    const form = document.querySelector("form"),
        nextBtn = form.querySelector(".nextBtn");
        allInput = form.querySelectorAll(".row .input-group");




const image_input1 = document.querySelector("#image_input1")
var uploaded_image = "";

image_input1.addEventListener("change", function(){
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        uploaded_image = reader.result;
        document.querySelector("#display_image1").style.backgroundImage = `url(${uploaded_image})`
    })
    reader.readAsDataURL(this.files[0]);
})



const image_input2 = document.querySelector("#image_input2")
var uploaded_image = "";

image_input2.addEventListener("change", function(){
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        uploaded_image = reader.result;
        document.querySelector("#display_image2").style.backgroundImage = `url(${uploaded_image})`
    })
    reader.readAsDataURL(this.files[0]);
})

const image_input3 = document.querySelector("#image_input3")
var uploaded_image = "";

image_input3.addEventListener("change", function(){
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        uploaded_image = reader.result;
        document.querySelector("#display_image3").style.backgroundImage = `url(${uploaded_image})`
    })
    reader.readAsDataURL(this.files[0]);
})



const image_input4 = document.querySelector("#image_input4")
var uploaded_image = "";

image_input4.addEventListener("change", function(){
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        uploaded_image = reader.result;
        document.querySelector("#display_image4").style.backgroundImage = `url(${uploaded_image})`
    })
    reader.readAsDataURL(this.files[0]);
})



const image_input5 = document.querySelector("#image_input5")
var uploaded_image = "";

image_input5.addEventListener("change", function(){
    const reader = new FileReader();
    reader.addEventListener("load", () => {
        uploaded_image = reader.result;
        document.querySelector("#display_image5").style.backgroundImage = `url(${uploaded_image})`
    })
    reader.readAsDataURL(this.files[0]);
})


</script>

{% endblock body %}


{% block js %}


{% endblock js %}
