{% extends 'dasboard/base.html' %}

{% block style %}

<style>

  /*colors*/
  :root{

    --black: rgb(0, 0, 0);
    --white:#fff;
    --green:#31b085;
  }
 
  .appointment_form form {
    padding: 10px 20px;
    /* background: white; */
    width: 100%;
  
  
  } 
  .appointment_form h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--black);
  }
  
  .appointment_form .number {
    height: 20px;
    width: 20px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 20px;
    text-align: center;
    border-radius: 100%;
    background-color: var(--green);
    color:var(--black);
  
  }
 

  .appointment_form input,
  .appointment_form textarea,
  .appointment_form select {
    border-style: solid;
    border-width: 1px;
    border-color: #9e9a9a;
    font-size: 17px;
    height: 40px;
    margin-top: 7px;
    outline: 0;
    padding: 8px;
    width: 100%;
    background-color: #FFF;
    color: rgb(51, 50, 50);
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  .appointment_form textarea{
    height: 120px;
  }
  .appointment_form input[type=date]{
    cursor: not-allowed;
  }
  

  .appointment_form .form-control-input{
    background:var(--white);
  }

  .appointment_form button {
    padding: 13px 15px 13px 15px;
    color: #FFF;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    width: 20%;
    min-width: 200px;
    border-width: 1px 1px 3px;
    /* box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset; */
    margin-bottom: 10px;
    border: 1px solid var(--green);
    background: var(--green);
    margin-left: 5px;
  }

  .appointment_form .button:hover {
    color: var(--white);
    background: green;
  }


   
    </style>
{% endblock style %}


{% block body %}

<div class="container appointment_form mt-4 p-4">
  <!--This is a division tag for body container-->
  <div class="card row">
    
    <!--<h2 class="text-center my-4">Appointment Request Form</h2> -->
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <h4><span class="number">1</span> Your Details</h4>
      <div class=" row">
        <!--relation-->
        <div class=" col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <label for="relation">Relation: *</label>
          <select class="form-control form-control-input" name="relation" required>
            <option value="Self">Self</option>
            <option value="Mother">Mother</option>
            <option value="Father">Father</option>
          </select>
        </div>
        <!--name-->
        <div class=" col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <label for="name">Patient Name: *</label>
          <input type="text"  class="form-control form-control-input" name="name"  placeholder="Enter Patient Name" required>
        </div>
      </div>
      <div class=" row">
        <!--num-->
        <div class=" col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <label for="tel">Contact Number: *</label>
          <input type="number" class="form-control form-control-input"  placeholder="Enter Contact Number" name="contact"
            pattern="[0-9]" required>
        </div>
      </div>
      <div class=" row">
        <!--age-->
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="mail">Age: *</label>
          <input  type="text" class="form-control form-control-input"  name="age" placeholder="23yr" required>
        </div>
        <!--gender-->
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="gender">Gender: *</label>
          <select class="form-control form-control-input" name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>

      <div class=" row">
        <!--weight-->
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="weight">Weight: *</label>
          <input  type="text" class="form-control form-control-input" name="weight" placeholder="72 Kg" required>
        </div>
        <!--blood group-->
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <label for="blood_group">Blood Group: *</label>
          <select class="form-control form-control-input" name="blood_group" required>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="O+">O+</option>
            <option value="AB+">AB+</option>
          </select>
        </div>
      </div>


      <div class=" row">
        <h4><span class="number">2</span>Appointment Details</h4>
        <!--appointment_for-->
        <div class="row">
          <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
            <label for="appointment_for">Doctor:
            </label>
            <input type="text" readonly name="doctor_name" value="{{doctor_data.first_name}}" placeholder="{{doctor_data.first_name}}" class="form-control form-control-input" required></input>
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 col-xl-6">
            <label for="appointment_for">Upload your predicted diagnosis (if any):
            </label>
            <input type="file" name="predicted_file" value="" class="form-control form-control-input" required></input>
          </div>
        </div>
        <!--symptoms-->
        <div class=" row">
          <label for="symptoms">Symptoms: *</label>
          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
            <textarea class="form-control form-control-input" name="symptoms" placeholder="I wish to get an appointment for ..."
              required></textarea>
          </div>
        </div>
        <!--date-->
        <div class=" row">
          <label for="date">Preferred Date: *</label>
          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
            <input type="date" name="date" value="" class="form-control form-control-input" required></input>
          </div>
        </div>
        <!--radio-->
        <div class=" row">
          <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
            <label for="duration">Preferred Slot: *</label>
            <input type="time" name="time" value="" class="form-control form-control-input" required></input>

            <!-- <select class="form-control form-control-input" name="slot_time" required>
              <option value="8:30am-12pm">8:05 - 12:00</option>
              <option value="12:30pm-4pm">12:05 - 16:00</option>
              <option value="4:30pm-9pm"> 16:05 - 21:00</option>
              <option value="9:30pm-2am">21:05 - 2:00</option>
            </select> -->
          </div>
        </div>


        <div class="row">
          <button type="submit" class="btn"  >Request For Appointment</button>
        </div>
      </div> 
    </form>

  </div>
</div>



{% endblock body %}