{% extends 'dasboard/base.html' %}
{% load static %}

{% block style %}

<style>
  :root {
    --black: #000;
    --darkgreen: #31b085;
    --green: #B6E2A1;
    --white: #fff;
    --grey: rgb(181, 172, 172);
    transition: all 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }





  .prescription .header {
    padding: 15px 15px 0px 15px;
  }

  .prescription .logo li{
   display: inline;
  }

  .prescription form .row {
    padding: 15px 15px 0px 15px;
  }

  .prescription ul {
    list-style: none;
  }

  .prescription ul li {
    font-size: 1.2rem;
    color: black;
    margin-top: 10px;
  }

  .prescription ul li span {
    font-size: 1.1rem;
    color: rgb(97, 92, 92);
    font-family: bold;
    border-bottom: 1px dotted black;
    letter-spacing: 5px;

  }

  .prescription ul .date {
    float: right;
  }

  .prescription .doctor li {
    font-family: bold;
  }

  .prescription .desease_details h4 {
    width: 100%;
    text-align: center;
    background: var(--darkgreen);
    padding: 5px;
    font-weight: 800;
    margin-top: 15px;
  }

  .prescription .input-div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .prescription input {
    width: auto;
    border: none;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .prescription textarea[type=text] {
    padding: 0;
    margin: 0;
    height: 150px;
    border: none;
    outline: none;
    width: auto;
    box-sizing: border-box;
    border: 2px solid var(--grey);
    border-radius: 4px;
    font-size: 17px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
    background-color: white;
  }

  .prescription textarea[type=text]:focus {
    height: 170px;
  }

  .prescription .rx-section {
    border-left: 2px solid rgb(115, 111, 111);
  }

  @media screen and (max-width:768px) {
    .prescription .rx-section {
      border-left: 2px solid white;
    }

  }
</style>

{% endblock style %}


{% block body %}
<div class="container  prescription  mt-4 p-4">
  <div class="card " id="generate_pdf">
    <div class="row header">
      <div class="col-md-6">
        <ul class="logo">
          <li><img src="{% static 'home/image/favicon.png' %}" class="img-fluid" style="width: 7%;" />
          </li>
          <li>MedX</li>
        </ul>
      </div>

      <div class="col-md-6 doctor">
        <ul>
          <li>Doctor Name : <span>{{patient_data.patient_ref.doctor}}</span></li>
          <li>Speciality : <span> Eye</span></li>
        </ul>
      </div>

      <div class="col-12">
        <ul>
          <li>Patient ID : <span>{{patient_data.patient_id}}</span></li>
          <li>Patient Name : <span>{{patient_data.patient_ref.appointment_ref.first_name}}</span></li>
          <li>Age : <span>{{patient_data.patient_ref.age}}</span></li>
          <li>Gender : <span>{{patient_data.patient_ref.gender}}</span></li>
          <li>Weight : <span>{{patient_data.patient_ref.weight}}</span></li>
          <li class="date">Date : <span>{{patient_data.patient_ref.date}}</span></li>
        </ul>
      </div>
    </div>
    <form>
      {% csrf_token %}
      <div class="row">
        <hr>
        <div class="col-sm-12 col-md-6 col-lg-5 col-xl-5">

          <div class="desease_details">
            <div class="input-div">
              <h4>Symptoms</h4>
              <textarea type="text" class="symp_action form-control"  placeholder="{{patient_data.symptoms}}" readonly></textarea>
            </div>
            <div class="input-div">
              <h4>Tests</h4>
              <textarea type="text" class="test_action form-control" placeholder="{{patient_data.suggestion_test}}" readonly></textarea>
            </div>
            <div class="input-div">
              <h4>Advice</h4>
              <textarea type="text" class="adv_action form-control" placeholder="{{patient_data.advice}}" readonly></textarea>

            </div>
            <br>
          </div>
        </div>
        <div class="rx-section col-sm-12 col-md-6 col-lg-7 col-xl-7">
          <span style="font-size: 2em; color: red;">R<sub>x</sub></span>
          <hr />
          <div class="input-div">
            <textarea type="text" class="symp form-control" placeholder="{{patient_data.rx}}" readonly></textarea>
          </div>
          <br>

        </div>
      </div>

    </form>
    
  </div>

  <div class="col-sm-12 d-flex justify-content-center mt-3">
    {% if data.status == True %}<a href="/prescription/{{data.appointment_id}}" class="btn btn-success">View</a>{% endif %}
    <button class="btn btn-info" id="printButton" onclick="print()">Download</button>

  </div>
</div>

{% comment %} <div class="container-fluid mt-3  ">
  <div class=" wrapper" id="generate_pdf">
    <h2>Appointment Letter</h2>

  </div>
  <div class="col-sm-12 d-flex justify-content-center">
    {% if data.status == True %}<a href="/show_prescription t-4 p-4/{{data.appointment_id}}" class="btn ">View</a>{%
    endif %}
    <button class="btn btn-info" id="printButton" onclick="print()">Download</button>

  </div>
</div> {% endcomment %}
{% endblock body %}


{% comment %} pdf generate {% endcomment %}
{% block js %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"
  integrity="sha256-srhz/t0GOrmVGZryG24MVDyFDYZpvUH2+dnJ8FbpGi0=" crossorigin="anonymous"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js "></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>

<script type="text/javascript">
  window.jsPDF = window.jspdf.jsPDF;
  var docPDF = new jsPDF();
  function print() {
    var elementHTML = document.querySelector("#generate_pdf");

    docPDF.html(elementHTML, {
      callback: function (docPDF) {
        docPDF.save('{{data.appointment_id}}');
      },
      // x: 5,
      // y: 5,
      width: 170,
      windowWidth: 650
    });
  }
</script>
{% endblock js %}